

.flex-container {
    display: flex;
    /* flex-wrap: wrap; */
    font-size: 20px;
    text-align: center;
}

.flex-item-left {
    padding: 10px 190px 10px 10px;
    flex: 50%;
    font-size: 18.5px;
    text-align: left;
    color: #c2c7e5;
    /* font-weight: lighter; */
}
.flex-item-left p{
    padding-bottom: 20px;
    /* text-align: justify; */
    letter-spacing: 2px;
}
.flex-item-right {
    flex: 50%;
}

.about-details p{
    padding: 10px 0 ;
}

.about-img img {
    width: 250px;
    height: 250px;
    border-radius: 8px;
    /* position: relative; */
    mix-blend-mode: multiply;
    /* filter: grayscale(30%); */
  }
  
  .about-img {
    width: 250px;
    height: 250px;
    position: relative;
    /* z-index: 1; */
    /* background-color: #64ffda; */
    /* background: linear-gradient(0.4turn, #8cecd6, #97ecae); */
    border-radius: 2px;
    transform: translate(-73px, 14px);
  }
  .flex-item-left p span{
      color: #64ffda;
      font-weight: 400;
  }