.contact-left{
  flex: 50%;
 
}
.wrap-contact{
  flex: 50%;
}
.contact-title{
font-size: 38px;
color: #c2c7e5;
}
.contact-para{
  font-size: 17px;
  color: #c2c7e5;
  padding: 20px 0;
}
.form-control{
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  width: 450px;
  border: solid 1px #64ffda;;
  background: transparent;
}
.form-control-textarea{
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  width: 450px;
  height: 80px;
  border: solid 1px #64ffda;;
  background: transparent;
  resize: vertical;
}



.contact-container{
  display: flex;
  flex-wrap: wrap;
}

.counter-left{
  margin: 5px;
  height: 219px;
  width: 195px;
  border-radius: 6px;
  /* flex: 1; */
  padding: 15px;
  background: #071324;
  transform: translate(1px, -48px);
}
.counter-left h4{
  color: #c2c7e5;
}
.counter-right{
  margin: 5px;
  height: 219px;
  width: 195px;
  border-radius: 6px;
  /* flex: 1; */
  padding: 15px;
  background: #071324;
}
.counter-right h4{
  color: #c2c7e5;
}
.send-btn{
  display: inline-block;
    color: #64ffda;
    background-color: transparent;
    border: 1px solid #64ffda;
    border-radius: 4px;
    padding: 12px 20px;
    font-size: 1.2rem;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: all .25s ease-in-out;
    /* margin-top: 50px; */
}
.contact-det{
  font-size: 17px;
  color: #c2c7e5;
  /* padding: 20px 0; */
}
.contact-det p{
  padding: 10px 0;
}
.work-for{
  margin-bottom: 80px;
}


/* ****************************************************/ 
/*******************Counter ************************/

#stats .vertical-heading h2 {
  color: #fff;

}

.stat-item {
  background: rgba(61, 68, 68, 0.6);
  padding: 25px 50px;
  border-radius: 5px;
  transition: all .4s linear;
}

.stat-item i {
  font-size: 42px;
  color: #5c9320;
  margin: 0 0 5px 0;
  transition: all .4s linear;
}

/* .stat-item:hover{
background: #5c9320;
}

.stat-item:hover i{
color: #212226;
transform: translateY(-20px);
} */

.stat-item p {
  color: #fff;
}

.stat-item h3 {
  color: #fff;
  font-size: 32px;
  margin: 5px 0;
}
.number{
  padding-top: 40px;
  text-align: center;
  font-size: 50px;
  color: #64ffda;
}