/* .col-md-3 img{
  height: 250px;
  width: 250px;

} */
/* #isotope-container{
  height: 100%;
  width: 100%;
} */
.portfolio-btn {
  margin: auto;
  padding-bottom: 50px;
}

.text-align {
  text-align: center;
}

.portfolio-btn .btn {
  padding: 4px 20px;
  color: #c2c7e5;
}

/*isotope filters*/
#isotope-filters button {
  font-size: 18px;
  background: transparent;
  border: solid 1px #64ffda;
  outline: 0;
  border-radius: 5px;
}

#isotope-filters button span {
  display: block;
  padding-bottom: 5px;
  border-bottom: solid 1px transparent;
}

#isotope-filters button.active {
  /* color: #64ffda;
  border-bottom: solid 1px #64ffda; */
  box-shadow: 0 8px 7px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 15%);

}

.portfolio-item {
  width: 250px;
  height: 250px;
}

.portfolio-item img {
  width: 250px;
  height: 250px;
  /* margin: 10px; */
  /* padding: 10px; */
}

.portfolio-container {
  position: relative;
}

.col-md-3 {
  padding: 3px;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.portfolio-container:hover .overlay {
  opacity: 1;
}