
.tabs {
  max-width: 60rem;
  display: flex;
}
.tabs > ul {
  list-style-type: none;
  padding: 0;
}
.tabs > ul li {
  
  display: block;
  text-align: center;
}
.tabs > ul li a {
  display: block;
  text-decoration: none;
  /* background: #11111a; */
  color: #64ffda;
  padding: 1rem 1.5rem;
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.2s ease-in-out;
}
.tabs > ul li a.active {
  /* width: 235px; */
  /* background: #fff; */
  /* border: solid 1px #64ffda; */
  color: #c2c7e5;
  /* position: absolute; */
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 1px;
    height:60px;
    border-radius:5px;
    background: red;
    
    transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}
.tabs > ul li a:hover:not(.active) {
  color: #c2c7e5;
  
  /* border: solid 1px #64ffda; */
}
.tabs section {
  /* border: solid 1px #64ffda; */
  color: #c2c7e5;
  /* background: #fff; */
  padding: 1.5rem 2.5rem;
  display: none;
}
.tabs section.active {
  display: block;
}
.experience-content{
  padding: 53px 0px 0px 199px;
}