footer {
    /* text-align: center; */
    padding: 40px;
    background-color: #12223b;
    color: white;
    font-size: 17px;
  }
 .footer-left{
      flex: 1;
      padding-left: 75px;
  }
  .footer-right{
      padding-right: 60px;
  }