.footer-end {
    /* text-align: center; */
    padding: 40px;
    background-color: #12223b;
    color: white;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
  }
 .footer-left{
      /* flex: 1; */
      padding-left: 75px;
  }
  