* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: monospace; */
    background: #0a192f;
    overflow-x: hidden;
}
html{
  scroll-behavior: smooth;
}
.d-flex {
    display: flex;
}
.text-center{
    text-align: center;
}
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
    text-decoration: none;
}

.content-home {
    padding: 50px 40px 20px 160px;
}
/* *********** Social ************** */

.left {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    /* z-index: 10; */
}
.social-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 10px;
    list-style: none;
}

.social-style a:hover {
    transform: translateY(-3px);
    color: #64ffda;
}

.sociali {
    font-size: 23px;
    color: #c2c7e5;
}

.social-links::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #64ffda;
}
.numbered-heading {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    white-space: nowrap;
    font-weight: 600;
    line-height: 1.1;
    color: #c2c7e5;
    font-size: 30px;
}
.numbered-heading span{
    position: relative;
    bottom: 4px;
    margin-right: 10px;
    color: #64ffda;
    font-weight: 400;
}

.numbered-heading::after {
    content: "";
    display: block;
    position: relative;
    top: 1px;
    width: 150px;
    height: 1px;
    margin-left: 20px;
    background-color: #64ffda;
}
/* Button get in touch *******/
.get-in-touch {
  display: inline-block;
  color: #64ffda;
  background-color: transparent;
  border: 1px solid #64ffda;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 1.2rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: all .25s ease-in-out;
  margin: 50px 0px 20px 0px;

}

.get-in-touch:hover {
/* opacity: 1; */
  background-color: rgba(100,255,218,0.1);;
  border-radius: 4px;
}
/* Selector */
::selection{
  background: rgba(255,255,255,0.95);
  color: #111;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 7px grey; 
  border-radius: 4px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #64ffda; 
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #35ad91; 
}
/* *********Mobile Responsive* ******/
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* CSS */
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    /* CSS */
    
  }
