#home-section{
    height: 100vh;
}
.content-wrapper{
    padding-top: 90px;
    padding-left: 30px;
  }
  
.small-title {
    margin: 0px 0px 30px 4px;
    color: #64ffda;
    font-size: 1.4rem;
    font-weight: 400;
}

.home-heading {
    color: #c2c7e5;
    margin-top: 1rem;
    font-size: 3rem;
    line-height: 1;
}

.home-heading span {
    color: #c2c7e5;
    line-height: 1;
    opacity: .5;
    font-size: 5rem;
}
.home-para span{
    color: #64ffda;
}
.home-para {
    color: #c2c7e5;
    margin-top: 2.5rem;
    font-size: 32px;
    max-width: 600px;
    line-height: 25px;
}
.social-links-flex{
    display: none;
}
