/* *********Mobile Responsive* ******/
@media (max-width: 1024px) {
    .content-home {
        padding: 130px 20px 40px 130px;
    }

    .small-title {
        margin: 0px 0px 30px 4px;
        color: #64ffda;
        font-size: 18px;
        font-weight: 400;
        box-sizing: border-box;
    }

    .home-heading {
        color: #c2c7e5;
        margin-top: 15px;
        font-size: 45px;
        line-height: 1;

    }

    .home-heading span {
        color: #c2c7e5;
        line-height: 1;
        opacity: .5;
        font-size: 45px;
        font-weight: 800;
    }

    .home-para {
        color: #c2c7e5;
        margin-top: 2.5rem;
        font-size: 18px;
        max-width: 500px;
        line-height: 20px;
    }
/* About */
    .flex-container{
        display: block;
    }
    .about-img {
        padding-left: 250px;
    }
}

@media screen and (max-width: 800px) {
    .content-home {
        padding: 130px 20px 40px 115px;

    }

    .small-title {
        margin: 0px 0px 30px 4px;
        color: #64ffda;
        font-size: 18px;
        font-weight: 400;
        box-sizing: border-box;
    }

    .home-heading {
        color: #c2c7e5;
        margin-top: 15px;
        font-size: 28px;
        line-height: 1;

    }

    .home-heading span {
        color: #c2c7e5;
        line-height: 1;
        opacity: .5;
        font-size: 35px;
        font-weight: 800;
    }

    .home-para {
        color: #c2c7e5;
        margin-top: 2.5rem;
        font-size: 18px;
        max-width: 500px;
        line-height: 20px;
    }
/* About */
    .flex-container{
        display: block;
    }
    .about-img {
        padding-left: 180px;
    }


}

@media screen and (max-width: 600px) {
    .content-home {
        padding: 120px 20px 40px 50px;

    }

    .small-title {
        margin: 0px 0px 30px 4px;
        color: #64ffda;
        font-size: 18px;
        font-weight: 400;
        box-sizing: border-box;
    }

    .home-heading {
        color: #c2c7e5;
        margin-top: 15px;
        font-size: 28px;
        line-height: 1;

    }

    .home-heading span {
        color: #c2c7e5;
        line-height: 1;
        opacity: .5;
        font-size: 35px;
        font-weight: 800;
    }

    .home-para {
        color: #c2c7e5;
        margin-top: 2.5rem;
        font-size: 18px;
        max-width: 500px;
        line-height: 20px;
    }

    .social-links {
        display: none;
    }

    .social-links-flex {
        padding-top: 30px;
        display: flex;
    }
/* About */
    .flex-container{
        display: block;
    }
    .about-img {
        padding-left: 140px;
    }
}

@media screen and (max-width: 500px) {
    .content-home {
        padding: 120px 20px 40px 50px;
        height: 100vh;

    }

    .small-title {
        margin: 0px 0px 30px 4px;
        color: #64ffda;
        font-size: 18px;
        font-weight: 400;
        box-sizing: border-box;
    }

    .home-heading {
        color: #c2c7e5;
        margin-top: 15px;
        font-size: 28px;
        line-height: 1;

    }

    .home-heading span {
        color: #c2c7e5;
        line-height: 1;
        opacity: .5;
        font-size: 35px;
        font-weight: 800;
    }

    .home-para {
        color: #c2c7e5;
        margin-top: 2.5rem;
        font-size: 18px;
        max-width: 500px;
        line-height: 20px;
    }

    .social-links-flex {
        padding-top: 30px;
        display: flex;
    }
}

/* Galaxy fold */
@media screen and (max-width: 360px) {
    .content-home {
        padding: 150px 20px 40px 50px;
        /* background: red; */
        height: 100vh;
    }

    .small-title {
        margin: 0px 0px 30px 4px;
        color: #64ffda;
        font-size: 15px;
        font-weight: 400;
        box-sizing: border-box;
    }

    .home-heading {
        color: #c2c7e5;
        margin-top: 15px;
        font-size: 25px;
        line-height: 1;

    }

    .home-heading span {
        color: #c2c7e5;
        line-height: 1;
        opacity: .5;
        font-size: 30px;
        font-weight: 800;
    }

    .home-para {
        color: #c2c7e5;
        margin-top: 2.5rem;
        font-size: 18px;
        max-width: 500px;
        line-height: 20px;
    }

    .social-links-flex {
        display: flex;
    }
}