@media screen and (max-width:1600px) {
    .numbered-heading {
        font-size: 35px;
    }

    .small-title {
        margin: 0px 0px 30px 4px;
        color: #64ffda;
        font-size: 1.8rem;
        font-weight: 400;
    }

    .home-heading {
        color: #c2c7e5;
        margin-top: 15px;
        font-size: 60px;
        line-height: 1;
    }

    .home-heading span {
        color: #c2c7e5;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
        transition: all .25s ease-in-out;
        margin-top: 40px;
        opacity: .5;
        font-size: 80px;
        font-weight: 800;
    }

    .home-para {
        color: #c2c7e5;
        margin-top: 2.5rem;
        font-size: 30px;
        max-width: 500px;
        line-height: 20px;
    }

    /* About section */

    .flex-item-left {
        /* padding: 10px 30px 10px 10px; */
        flex: 50%;
        font-size: 18px;
        text-align: left;
        color: #c2c7e5;
    }
 /* skills */
 h4.bg-heading {
    border: solid 1px #70e7c6;
    padding: 8px 40px;
    font-size: 22px;
    font-weight: bold;
    display: inline-block;
    border-radius: 5px;
    color: #c2c7e5;
}

.uu li {
    padding-top: 25px;
    font-weight: 600;
    color: #c2c7e5;
    font-size: 20px;
}

    /* project */
    .project-flex-container {
        display: none;
    }

    .project {
        padding-left: 100px;
        margin: 6px 0px 14px 10px;
    }

    .project-details {
        position: relative;
        font-size: 18px;
        line-height: 1.5;
        color: #aaa;
        width: 683px;
        transform: translate(-33px, 10px);
    }

    .project-img img {
        width: 500px;
        height: 340px;
    }

    .project2-details {
        position: relative;
        font-size: 18px;
        line-height: 1.5;
        color: #aaa;
        width: 683px;
        /* transform: translate(-33px, 10px); */
    }

    .project2 {
        padding-left: 100px;
        margin: 50px 30px 10px 0px;
        display: flex;
        align-items: center;
        /* padding-right: 50px; */
    }

    .project-img2 img {
        width: 500px;
        height: 340px;

    }

    .project2-label {
        /* padding-left: 215px; */
        color: #64ffda;
        font-family: monospace;
        /* transform: translateX(120px); */
    }

    .tag-list2 {
        padding-left: 317px;
    }

    .mobile-projects {
        display: none;
    }

    .project-flex-item {
        width: 390px;

    }

    .project-flex-container {
        display: flex;
        /* padding: 15px 15px 15px 75px; */
        flex-wrap: wrap;
        margin: auto;
        padding-top: 50px;
    }

    .portfolio-btn .btn {
        padding: 10px 35px;
        color: #c2c7e5;
    }

    #isotope-filters button {
        font-size: 21px;
    }

    .small-project-card img {
        width: 358px;
        height: 200px;
    }

    .portfolio-item {
        width: 300px;
        height: 250px;
    }

    .portfolio-item img {
        width: 300px;
        height: 250px;
    }

    /* contact */

    .counter-wrapper {
        padding-bottom: 50px;
    }

    /* Testimonial */
    .testi-wrapper {
        padding: 0px;
    }

    .circle-new img {
        padding: 40px;
    }

    .testimonial-left {
        margin: auto;
        padding: 25px;
        /* transform: translate(-122px, 28px); */
    }

    .testimonial-para {
        padding: 0px;
        font-size: 22px;
    color: #c2c7e5;
    font-weight: lighter;
    }

    .responsive .slick-next {
        position: absolute;
        top: 250px;
        right: 31%;
        left: 75%;
    }

    .responsive .slick-prev {
        position: absolute;
        top: 250px;
        right: 45%;
        left: 70%;
        z-index: 88;
    }
}

@media screen and (max-width:1400px) {
    .numbered-heading {
        font-size: 30px;
    }
    .home-heading {
        color: #c2c7e5;
        margin-top: 15px;
        font-size: 50px;
        line-height: 1;

    }

    .home-heading span {
        color: #c2c7e5;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
        transition: all .25s ease-in-out;
        margin-top: 40px;
        opacity: .5;
        font-size: 65px;
        font-weight: 800;
    }

    .home-para {
        color: #c2c7e5;
        margin-top: 2.5rem;
        font-size: 30px;
        max-width: 500px;
        line-height: 20px;
    }

    /* About section */

    .flex-item-left {
        /* padding: 10px 30px 10px 10px; */
        flex: 50%;
        font-size: 16.5px;
        text-align: left;
        color: #c2c7e5;
    }

    /* skills section */
    h4.bg-heading {
        border: solid 1px #70e7c6;
        padding: 8px 40px;
        font-size: 15px;
        font-weight: bold;
        display: inline-block;
        border-radius: 5px;
        color: #c2c7e5;
    }

    .uu li {
        padding-top: 25px;
        font-weight: 600;
        color: #c2c7e5;
        font-size: 16px;

    }

    /* project */
    .project-flex-container {
        display: none;
    }

    .project {
        margin: 6px 0px 14px 10px;
    }

    .project-details {
        position: relative;
        font-size: 15px;
        line-height: 1.5;
        color: #aaa;
        width: 570px;
        transform: translate(-33px, 10px);
    }
    .portfolio-btn .btn {
        padding: 4px 30px;
        color: #c2c7e5;
    }
    #isotope-filters button {
        font-size: 18px;
    }
    .project-img img {
        width: 400px;
        height: 290px;
    }

    .project2-details {
        position: relative;
        font-size: 15px;
        line-height: 1.5;
        color: #aaa;
        width: 570px;
     
    }

    .project2 {
        margin: 50px 30px 10px 0px;
        display: flex;
        align-items: center;
        /* padding-right: 50px; */
    }

    .project-img2 img {
        width: 400px;
        height: 290px;

    }

    .project2-label {
        /* padding-left: 215px; */
        color: #64ffda;
        font-family: monospace;
        /* transform: translateX(120px); */
    }

    .tag-list2 {
        padding-left: 120px;
    }
    .mobile-projects {
        display: none;
    }
    #more .project-flex-item {
        width: 350px;
        height: 370px;

    }
    .project-flex-item {
        width: 390px;

    }

    .project-flex-container {
        display: flex;
        /* padding: 15px 15px 15px 75px; */
        flex-wrap: wrap;
        margin: auto;
        padding-top: 50px;
    }

    .small-project-card img {
        width: 358px;
        height: 200px;
    }


    /* contact */

    .counter-wrapper {
        padding-bottom: 50px;
    }

    /* Testimonial */
    .testi-wrapper {
        padding: 0px;
    }

    .circle-new img {
        padding: 40px;
    }

    .testimonial-left {
        margin: auto;
        padding: 25px;
        /* transform: translate(-122px, 28px); */
    }

    .testimonial-para {
        padding: 0px;
        font-size: 20px;
        color: #c2c7e5;
        font-weight: lighter;
    }
    .client-name {
        font-weight: 600;
        padding: 15px 0;
        color: #64ffda;
        font-size: 21px;
    }

    .responsive .slick-next {
        position: absolute;
        top: 250px;
        right: 31%;
        left: 75%;
    }

    .responsive .slick-prev {
        position: absolute;
    top: 250px;
    right: 45%;
    left: 70%;
    z-index: 88;
    }
}

@media screen and (max-width:1200px) {
    .home-heading {
        color: #c2c7e5;
        margin-top: 15px;
        font-size: 50px;
        line-height: 1;

    }

    .home-heading span {
        color: #c2c7e5;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
        transition: all .25s ease-in-out;
        margin-top: 40px;
        opacity: .5;
        font-size: 65px;
        font-weight: 800;
    }

    .home-para {
        color: #c2c7e5;
        margin-top: 2.5rem;
        font-size: 30px;
        max-width: 500px;
        line-height: 20px;
    }

    /* About section */
    
    .flex-item-left {
        /* padding: 10px 30px 10px 10px; */
        flex: 50%;
        font-size: 16.5px;
        text-align: left;
        color: #c2c7e5;
    }

    /* skills section */
    h4.bg-heading {
        border: solid 1px #70e7c6;
        padding: 8px 40px;
        font-size: 15px;
        font-weight: bold;
        display: inline-block;
        border-radius: 5px;
        color: #c2c7e5;
    }

    .uu li {
        padding-top: 25px;
        font-weight: 600;
        color: #c2c7e5;
        font-size: 16px;

    }

    /* project */
    .project-flex-container {
        display: none;
    }

    .project {
        margin: 6px 0px 14px 10px;
    }

    .project-details {
        position: relative;
        font-size: 15px;
        line-height: 1.5;
        color: #aaa;
        width: 560px;
        transform: translate(-33px, 10px);
    }

    .project-img img {
        width: 383px;
        height: 290px;

    }

    .project2-details {
        position: relative;
        font-size: 15px;
        line-height: 1.5;
        color: #aaa;
        width: 560px;
    }

    .project2 {
        margin: 50px 30px 10px 0px;
        display: flex;
        align-items: center;
        /* padding-right: 50px; */
    }

    .project-img2 img {
        width: 383px;
        height: 290px;

    }

    .project2-label {
        /* padding-left: 215px; */
        color: #64ffda;
        font-family: monospace;
        /* transform: translateX(120px); */
    }

    .tag-list2 {
        padding-left: 200px;
    }

    .mobile-projects {
        display: none;
    }

    .project-flex-item {
        width: 390px;

    }

    .project-flex-container {
        display: flex;
        /* padding: 15px 15px 15px 75px; */
        flex-wrap: wrap;
        margin: auto;
        padding-top: 50px;
    }

    .small-project-card img {
        width: 358px;
        height: 200px;
    }


    /* contact */

    .counter-wrapper {
        padding-bottom: 50px;
    }

    /* Testimonial */
    .testi-wrapper {
        padding: 0px;
    }

    .circle-new img {
        padding: 40px;
    }

    .testimonial-left {
        margin: auto;
        padding: 25px;
        /* transform: translate(-122px, 28px); */
    }

    .testimonial-para {
        padding: 0px;
    }

    .responsive .slick-next {
        position: absolute;
        top: 260px;
        right: 31%;
        left: 73%;
    }

    .responsive .slick-prev {
        position: absolute;
        top: 260px;
        right: 45%;
        left: 67%;
        z-index: 88;
    }
}

@media screen and (max-width:992px) {
    .content-home {
        padding: 80px 10px 0px 113px;
    }

    .home-heading {
        color: #c2c7e5;
        margin-top: 15px;
        font-size: 35px;
        line-height: 1;

    }

    .home-heading span {
        color: #c2c7e5;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
        transition: all .25s ease-in-out;
        margin-top: 40px;
        opacity: .5;
        font-size: 50px;
        font-weight: 800;
    }

    .home-para {
        color: #c2c7e5;
        margin-top: 2.5rem;
        font-size: 25px;
        max-width: 500px;
        line-height: 20px;
    }

    /* About section */
    .flex-container {
        /* display: block; */
    }

    .flex-item-left {
        padding: 10px 70px 10px 10px;
        flex: 50%;
        font-size: 16.5px;
        text-align: left;
        color: #c2c7e5;
    }

    .about-img {
        padding-left: 31px;
    }

    /* skills section */
    h4.bg-heading {
        border: solid 1px #70e7c6;
        padding: 8px 40px;
        font-size: 15px;
        font-weight: bold;
        display: inline-block;
        border-radius: 5px;
        color: #c2c7e5;
    }

    .uu li {
        padding-top: 25px;
        font-weight: 600;
        color: #c2c7e5;
        font-size: 16px;

    }

    .flex-skills {
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: row; */
        font-size: 30px;
        justify-content: space-between;
        padding-right: 44px;
    }

    /* project */
    .project-flex-container {
        display: none;
    }

    .project-wrapper-inner {
        /* padding-left: 60px; */
    }

    .project {
        margin: 6px 0px 14px 10px;
    }

    .project-details {
        position: relative;
        font-size: 15px;
        line-height: 1.5;
        color: #aaa;
        width: 405px;
        transform: translate(-33px, 10px);
    }

    .project-img img {
        width: 383px;
        height: 290px;

    }

    .project2-details {
        position: relative;
        font-size: 15px;
        line-height: 1.5;
        color: #aaa;
        width: 405px;
    }

    .project2 {
        margin: 50px 30px 10px 0px;
        display: flex;
        align-items: center;
        /* padding-right: 50px; */
    }

    .project-img2 img {
        width: 383px;
        height: 290px;

    }

    .project2-label {
        /* padding-left: 215px; */
        color: #64ffda;
        font-family: monospace;
        /* transform: translateX(120px); */
    }
    .tag-list2 {
        padding-left: 0px;
    }
    .tag-list2 ul li {
        margin-right: 10px;
        color: #aaa;
        /* font-family: monospace; */
        padding: 1px 6px;
        border-radius: 5px;
    }

    .mobile-projects {
        display: none;
    }

    .project-flex-item {
        width: 390px;

    }

    .project-flex-container {
        display: flex;
        /* padding: 15px 15px 15px 75px; */
        flex-wrap: wrap;
        margin: auto;
        padding-top: 50px;
    }

    .small-project-card img {
        width: 358px;
        height: 200px;
    }

    /* design */
    #portfolio-wrapper {
        margin: auto;
        /* width: 590px; */
    }

    #isotope-filters {
        margin: 0;
        padding-left: 200px;
    }

    #isotope-filters button {
        font-size: 21px;
        background: transparent;
        border: solid 1px #64ffda;
        outline: 0;
        border-radius: 5px;
    }

    /* contact */
    .counter-right {
        margin: 5px;
        height: 200px;
        width: 300px;

    }

    .counter-left {
        margin: 5px;
        height: 200px;
        width: 300px;

    }

    .contact-left {
        /* display: flex; */
        flex: unset;
        /* padding-left: 150px;
        padding-bottom: 20px;  */
        margin: auto;
        width: 300px;
        /* justify-content: center; */
    }

    .wrap-contact {
        flex: unset;
    }

    /* Design */
    .portfolio-btn {
        /* margin: 30px; */
        /* padding-left: 230px; */
        padding-bottom: 50px;
    }

    /* Testimonial */
    .testi-wrapper {
        padding: 0px;
    }

    .circle-new img {
        padding: 40px;
    }

    .testimonial-left {
        margin: auto;
        padding: 25px;
        /* transform: translate(-122px, 28px); */
    }

    .testimonial-para {
        padding: 0px;
    }

    .responsive .slick-next {
        position: absolute;
        top: 280px;
        right: 31%;
        left: 75%;
    }

    .responsive .slick-prev {
        position: absolute;
        top: 280px;
        right: 45%;
        left: 67%;
        z-index: 88;
    }

    .send-btn {

        margin-bottom: 30px;
    }

}

@media screen and (max-width:768px) {

    /* Home */
    /* .content-wrapper {
        padding-top: 50px;
        padding-left: 0px;
    } */

    .content-home {
        padding: 80px 20px 0px 45px;

    }

    /* #projects-section .content-home {
        padding: 80px 20px 0px 5px;
    }

    #projects-section .content-home h2 {
        padding-left: 85px;
    } */

    .small-title {
        margin: 0px 0px 30px 4px;
        color: #64ffda;
        background-color: transparent;
        border-radius: 4px;
        font-size: 20px;
        font-size: 18px;
        font-weight: 400;
    }

    .home-heading {
        color: #c2c7e5;
        margin-top: 15px;
        font-size: 33px;
        line-height: 1;

    }

    .home-heading span {
        color: #c2c7e5;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
        transition: all .25s ease-in-out;
        margin-top: 50px;
        opacity: .5;
        font-size: 45px;
        font-weight: 800;
    }

    .home-para {
        color: #c2c7e5;
        margin-top: 2.5rem;
        font-size: 25px;
        max-width: 500px;
        line-height: 20px;
    }

    .social-links {
        display: none;
    }

    .social-links-flex {
        padding-top: 30px;
        display: flex;
    }

    /* About */
    .flex-item-left {
        padding: 10px 30px 10px 10px;
        /* flex: 50%; */
        font-size: 16px;
        text-align: left;
        color: #c2c7e5;
        /* font-weight: lighter; */
    }

    .about-img {
        width: 250px;
        height: 250px;
        /* background-color: #64ffda; */
        /* background: linear-gradient(0.4turn, #8cecd6, #97ecae); */
        border-radius: 8px;
        /* transform: translate(-73px, 14px); */
        /* padding-left: 80px; */
    }

    /* skills section */
    h4.bg-heading {
        border: solid 1px #70e7c6;
        padding: 8px 40px;
        font-size: 16px;
        font-weight: bold;
        display: inline-block;
        border-radius: 5px;
        color: #c2c7e5;
    }

    .uu li {
        padding-top: 25px;
        font-weight: 600;
        color: #c2c7e5;
        font-size: 18px;

    }

    /* skills */
    .flex-skills {
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: row; */
        font-size: 30px;
        justify-content: space-between;
        padding-right: 5px;
    }

    /* projects */
    .project {
        display: none;
    }

    .project2 {
        display: none;
    }

    .project-flex-container {
        display: block;
        /* padding: 15px 15px 15px 75px; */
        /* flex-wrap: wrap; */
    }

    .project-flex-item {
        width: 500px;
        margin: auto;
    }

    .small-project-card img {
        width: 467px;
        height: 260px;
    }

    .mobile-projects {
        display: block;
    }

    /* design */
    #isotope-filters {
        margin: 0;
        padding-left: 125px;
    }

    /* Testimonial */
    .testi-wrapper {
        padding: 0px;
    }

    .circle-new img {
        padding: 40px;
    }

    .testimonial-left {
        margin: auto;
        padding: 25px;
        /* transform: translate(-122px, 28px); */
    }

    .testimonial-para {
        padding: 0px;
    }

    .responsive .slick-next {
        position: absolute;
        top: 310px;
        right: 31%;
        left: 75%;
    }

    .responsive .slick-prev {
        position: absolute;
        top: 310px;
        right: 45%;
        left: 65%;
        z-index: 88;
    }

    /* contact */
    .counter-right {
        margin: 5px;
        height: 160px;
        width: 150px;

    }

    .counter-left {
        margin: 5px;
        height: 160px;
        width: 150px;

    }

    .counter-wrapper {
        padding-bottom: 30px;
    }

    .number {
        padding-top: 4px;
        text-align: center;
        font-size: 50px;
        color: #64ffda;
    }

    .contact-left {
        /* display: flex; */
        flex: unset;
        margin: auto;
        width: 390px;
        /* justify-content: center; */
    }

    .wrap-contact {
        flex: unset;
    }

    .form-control {
        width: 400px;
    }

    .form-control-textarea {
        width: 400px;
    }

    .contact-para {
        padding: 20px 20px 20px 0;
    }

    footer {
        text-align: center;
    }
}

@media screen and (max-width:550px) {
    body {
        overflow-x: hidden;
    }

    /* Home */
    .content-wrapper {
        /* padding-top: 50px; */
        padding-left: 0px;
    }

    .content-home {
        padding: 60px 20px 40px 50px;

    }

    #projects-section .content-home {
        padding: 60px 20px 40px 0px;
    }

    #projects-section .content-home h2 {
        padding-left: 50px;
    }

    .small-title {
        margin: 0px 0px 30px 4px;
        color: #64ffda;
        background-color: transparent;
        border-radius: 4px;
        font-size: 18px;
        font-weight: 400;
    }

    .home-heading {
        color: #c2c7e5;
        margin-top: 15px;
        font-size: 30px;
        line-height: 1;

    }

    .home-heading span {
        color: #c2c7e5;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
        transition: all .25s ease-in-out;
        margin-top: 50px;
        opacity: .5;
        font-size: 40px;
        font-weight: 800;
    }

    .flex-container {
        display: block;
    }

    .home-para {
        color: #c2c7e5;
        margin-top: 2.5rem;
        font-size: 22px;
        max-width: 500px;
        line-height: 20px;
    }

    .social-links {
        display: none;
    }

    .social-links-flex {
        padding-top: 30px;
        display: flex;
    }

    .flex-item-left {
        padding: 10px 70px 10px 10px;
        flex: 50%;
        font-size: 16.5px;
        text-align: left;
        color: #c2c7e5;
    }

    .about-img {
        width: 250px;
        height: 250px;
        /* background-color: #64ffda; */
        /* background: linear-gradient(
    0.4turn
    , #8cecd6, #97ecae); */
        border-radius: 18px;
        /* transform: translate(-73px, 14px); */
        padding-left: 80px;
    }

    /* projects */
    .project {
        display: none;
    }

    .project2 {
        display: none;
    }

    .project-flex-container {
        display: block;
    }

    .small-project-card img {
        width: 370px;
        height: 260px;
    }

    .mobile-projects {
        display: block;
    }

    /* Design */
    .portfolio-btn {
        padding-bottom: 50px;
        margin: 0;
    }

    #isotope-filters {
        margin: 0;
        padding-left: 25px;
    }

    #portfolio-wrapper {
        width: unset;
    }

    #isotope-filters button {
        font-size: 16px;
    }

    .portfolio-btn .btn {
        padding: 4px 15px;
        color: #c2c7e5;
    }

    .project-flex-item {
        width: 400px;
        /* margin: auto; */
    }

    .portfolio-item {
        width: 370px;
        height: 350px;
    }

    .portfolio-item img {
        width: 370px;
        height: 350px;
        /* margin: 10px; */
        /* padding: 10px; */
    }

    /* Testimonial */
    .testi-wrapper {
        padding: 0px;
    }

    .circle-new img {
        padding: 40px;
    }

    .testimonial-left {
        margin: auto;
        padding: 0px;
    }

    .testimonial-para {
        padding-right: 50px;
    }

    .responsive .slick-next {
        position: absolute;
        top: 445px;
        right: 31%;
        left: 45%;
    }

    .responsive .slick-prev {
        position: absolute;
        top: 445px;
        right: 45%;
        left: 33%;
        z-index: 88;
    }

    .responsive .slick-prev {
        padding: 7px 17px;
    }

    .responsive .slick-next {
        padding: 7px 17px;
    }

    /* contact */
    .counter-right {
        margin: 5px;
        height: 138px;
        width: 130px;

    }

    .counter-left {
        margin: 5px;
        height: 138px;
        width: 130px;

    }

    .number {
        padding-top: 4px;
        text-align: center;
        font-size: 50px;
        color: #64ffda;
    }

    .contact-left {
        /* display: flex; */
        flex: 50%;
        padding-left: 40px;
        /* justify-content: center; */
    }

    .counter-wrapper {
        padding-bottom: 30px;
    }

    .form-control {
        width: 365px;
    }

    .form-control-textarea {
        width: 365px;
    }

    .contact-para {
        padding: 20px 40px 20px 0;
    }

    .footer-end {
        text-align: center;
    }

    .footer-left {
        /* flex: 1; */
        padding-left: 0px;
    }

}

@media screen and (max-width:500px) {
    body {
        overflow-x: hidden;
    }

    /* Home */
    .content-wrapper {
        /* padding-top: 50px; */
        padding-left: 0px;
    }

    .content-home {
        padding: 60px 20px 40px 50px;

    }

    #projects-section .content-home {
        padding: 60px 20px 40px 0px;
    }

    #projects-section .content-home h2 {
        padding-left: 50px;
    }

    .small-title {
        margin: 0px 0px 30px 4px;
        color: #64ffda;
        background-color: transparent;
        border-radius: 4px;
        font-size: 18px;
        font-weight: 400;
    }

    .home-heading {
        color: #c2c7e5;
        margin-top: 15px;
        font-size: 30px;
        line-height: 1;

    }

    .home-heading span {
        color: #c2c7e5;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
        transition: all .25s ease-in-out;
        margin-top: 50px;
        opacity: .5;
        font-size: 40px;
        font-weight: 800;
    }

    .flex-container {
        display: block;
    }

    .home-para {
        color: #c2c7e5;
        margin-top: 2.5rem;
        font-size: 22px;
        max-width: 500px;
        line-height: 20px;
    }

    .social-links {
        display: none;
    }

    .social-links-flex {
        padding-top: 30px;
        display: flex;
    }

    .flex-item-left {
        padding: 10px 70px 10px 10px;
        flex: 50%;
        font-size: 16.5px;
        text-align: left;
        color: #c2c7e5;
    }

    .about-img {
        width: 250px;
        height: 250px;
        /* background-color: #64ffda; */
        /* background: linear-gradient(
    0.4turn
    , #8cecd6, #97ecae); */
        border-radius: 18px;
        /* transform: translate(-73px, 14px); */
        padding-left: 80px;
    }

    /* projects */
    .project {
        display: none;
    }

    .project2 {
        display: none;
    }

    .project-flex-container {
        display: block;
    }

    .small-project-card img {
        width: 370px;
        height: 260px;
    }

    .mobile-projects {
        display: block;
    }

    /* Design */
    .portfolio-btn {
        padding-bottom: 50px;
        margin: 0;
    }

    #isotope-filters {
        margin: 0;
        padding-left: 25px;
    }

    #portfolio-wrapper {
        width: unset;
    }

    #isotope-filters button {
        font-size: 16px;
    }

    .portfolio-btn .btn {
        padding: 4px 15px;
        color: #c2c7e5;
    }

    .project-flex-item {
        width: 400px;
        /* margin: auto; */
    }

    .portfolio-item {
        width: 370px;
        height: 350px;
    }

    .portfolio-item img {
        width: 370px;
        height: 350px;
        /* margin: 10px; */
        /* padding: 10px; */
    }

    /* Testimonial */
    .testi-wrapper {
        padding: 0px;
    }

    .circle-new img {
        padding: 40px;
    }

    .testimonial-left {
        margin: auto;
        padding: 0px;
    }

    .testimonial-para {
        padding-right: 50px;
    }

    .responsive .slick-next {
        position: absolute;
        top: 490px;
        right: 31%;
        left: 50%;
    }

    .responsive .slick-prev {
        position: absolute;
        top: 490px;
        right: 45%;
        left: 37%;
        z-index: 88;
    }

    .responsive .slick-prev {
        padding: 7px 17px;
    }

    .responsive .slick-next {
        padding: 7px 17px;
    }

    /* contact */
    .counter-right {
        margin: 5px;
        height: 138px;
        width: 130px;

    }

    .counter-left {
        margin: 5px;
        height: 138px;
        width: 130px;

    }

    .number {
        padding-top: 4px;
        text-align: center;
        font-size: 50px;
        color: #64ffda;
    }

    .contact-left {
        /* display: flex; */
        flex: 50%;
        padding-left: 40px;
        /* justify-content: center; */
    }

    .counter-wrapper {
        padding-bottom: 30px;
    }

    .form-control {
        width: 365px;
    }

    .form-control-textarea {
        width: 365px;
    }

    .contact-para {
        padding: 20px 40px 20px 0;
    }

    .footer-end {
        text-align: center;
    }

    .footer-left {
        /* flex: 1; */
        padding-left: 0px;
    }

}

@media screen and (max-width:450px) {

    body {
        overflow-x: hidden;

    }

    /* Home */
    .content-wrapper {
        /* padding-top: 50px; */
        padding-left: 0px;
    }

    #projects-section {
        overflow-x: hidden;
    }

    .content-home {
        padding: 60px 20px 40px 30px;

    }

    .small-title {
        margin: 0px 0px 30px 4px;
        color: #64ffda;
        background-color: transparent;
        border-radius: 4px;
        font-size: 18px;
        font-weight: 400;
    }

    .home-heading {
        color: #c2c7e5;
        margin-top: 15px;
        font-size: 30px;
        line-height: 1;

    }

    .home-heading span {
        color: #c2c7e5;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
        transition: all .25s ease-in-out;
        margin-top: 50px;
        opacity: .5;
        font-size: 40px;
        font-weight: 800;
    }

    .home-para {
        color: #c2c7e5;
        margin-top: 2.5rem;
        font-size: 22px;
        max-width: 500px;
        line-height: 20px;
    }

    .social-links {
        display: none;
    }

    .social-links-flex {
        padding-top: 30px;
        display: flex;
    }

    .flex-item-left p {
        padding-bottom: 20px;
        /* text-align: justify; */
        letter-spacing: 1.1px;
    }

    .flex-item-left {
        padding: 10px 18px 10px 10px;
        flex: 50%;
        font-size: 15px;
        text-align: left;
        color: #c2c7e5;
    }

    .flex-container {
        display: block;
    }

    .uu li {
        padding-top: 18px;
        font-weight: 400;
        color: #c2c7e5;
        font-size: 16px;
    }

    h4.bg-heading {
        border: solid 1px #70e7c6;
        padding: 8px 20px;
        font-size: 18px;
        font-weight: bold;
        display: inline-block;
        border-radius: 5px;
        color: #c2c7e5;
    }

    .about-img {
        width: 250px;
        height: 250px;
        /* background-color: #64ffda; */
        /* background: linear-gradient(
    0.4turn
    , #8cecd6, #97ecae); */
        border-radius: 8px;
        /* transform: translate(-73px, 14px); */
        padding-left: 80px;
    }

    /* projects */
    .project {
        display: none;
    }

    .project2 {
        display: none;
    }

    .project-flex-container {
        display: block;
    }

    .small-project-card img {
        width: 370px;
        height: 260px;
    }

    .mobile-projects {
        display: block;
    }

    /* Design */
    .portfolio-btn {
        padding-bottom: 50px;
        margin: 0;
    }

    #portfolio-wrapper {
        width: unset;
    }

    #isotope-filters button {
        font-size: 16px;
    }

    #isotope-filters {
        margin: 0;
        padding-left: 15px;
    }

    .portfolio-btn .btn {
        padding: 4px 15px;
        color: #c2c7e5;
    }

    .project-flex-item {
        padding-left: 31px;
        width: 380px;
        /* margin: auto; */
    }

    .portfolio-item {
        width: 350px;
        height: 320px;
    }

    .small-project-card img {
        width: 320px;
        height: 260px;
    }

    .portfolio-item img {
        width: 350px;
        height: 320px;
        /* margin: 10px; */
        /* padding: 10px; */
    }

    /* Testimonial */
    .testi-wrapper {
        padding: 0px;
    }

    .circle-new img {
        padding: 40px;
    }

    .testimonial-left {
        margin: auto;
        padding: 0px;
    }

    .testimonial-para {
        padding-right: 50px;
        font-size: 18px;
        letter-spacing: 1px;
    }

    .responsive .slick-next {
        position: absolute;
        top: 480px;
        right: 31%;
        left: 49%;
    }

    .responsive .slick-prev {
        position: absolute;
        top: 480px;
        right: 45%;
        left: 35%;
        z-index: 88;
    }

    .responsive .slick-prev {
        padding: 7px 17px;
    }

    .responsive .slick-next {
        padding: 7px 17px;
    }

    /* contact */
    .counter-right {
        margin: 5px;
        height: 138px;
        width: 130px;

    }

    .counter-left {
        margin: 5px;
        height: 138px;
        width: 130px;

    }

    .number {
        padding-top: 4px;
        text-align: center;
        font-size: 50px;
        color: #64ffda;
    }

    .contact-left {
        /* display: flex; */
        flex: 50%;
        padding-left: 40px;
        /* justify-content: center; */
    }

    .counter-wrapper {
        padding-bottom: 30px;
    }

    .form-control {
        width: 100%;
    }

    .form-control-textarea {
        width: 100%;
    }

    .contact-para {
        padding: 20px 40px 20px 0;
        font-size: 16px;
    }

    .footer-end {
        text-align: center;
    }

    .footer-left {
        /* flex: 1; */
        padding-left: 0px;
    }

}

@media screen and (max-width:400px) {

    body {
        overflow-x: hidden;
    }

    /* Home */
    .content-wrapper {
        /* padding-top: 50px; */
        padding-left: 0px;
    }

    #projects-section {
        overflow-x: hidden;
    }

    .content-home {
        padding: 20px 20px 40px 30px;

    }

    .small-title {
        margin: 0px 0px 30px 4px;
        color: #64ffda;
        background-color: transparent;
        border-radius: 4px;
        font-size: 18px;
        font-weight: 400;
    }

    .home-heading {
        color: #c2c7e5;
        margin-top: 15px;
        font-size: 27px;
        line-height: 1;

    }

    .home-heading span {
        color: #c2c7e5;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
        transition: all .25s ease-in-out;
        margin-top: 50px;
        opacity: .5;
        font-size: 40px;
        font-weight: 800;
    }

    .home-para {
        color: #c2c7e5;
        margin-top: 2.5rem;
        font-size: 22px;
        max-width: 500px;
        line-height: 20px;
    }

    .social-links {
        display: none;
    }

    .social-links-flex {
        padding-top: 30px;
        display: flex;
    }

    .flex-item-left p {
        padding-bottom: 20px;
        /* text-align: justify; */
        letter-spacing: 1.1px;
    }

    .flex-item-left {
        padding: 10px 18px 10px 10px;
        flex: 50%;
        font-size: 15px;
        text-align: left;
        color: #c2c7e5;
    }

    .flex-container {
        display: block;
    }

    .uu li {
        padding-top: 18px;
        font-weight: 400;
        color: #c2c7e5;
        font-size: 16px;
    }

    h4.bg-heading {
        border: solid 1px #70e7c6;
        padding: 8px 20px;
        font-size: 18px;
        font-weight: bold;
        display: inline-block;
        border-radius: 5px;
        color: #c2c7e5;
    }

    .about-img {
        width: 250px;
        height: 250px;
        border-radius: 8px;
        /* transform: translate(-73px, 14px); */
        padding-left: 80px;
    }

    /* projects */
    .project {
        display: none;
    }

    .project2 {
        display: none;
    }

    .project-flex-container {
        display: block;
    }

    .small-project-card img {
        width: 370px;
        height: 260px;
    }

    .mobile-projects {
        display: block;
    }

    /* Design */
    .portfolio-btn {
        padding-bottom: 50px;
        margin: 0;
    }

    #portfolio-wrapper {
        width: unset;
    }

    #isotope-filters button {
        font-size: 14px;
    }

    #isotope-filters {
        margin: 0;
        padding-left: 15px;
    }

    .project-flex-item {
        /* padding-left: 31px; */
        /* width: 380px; */
        /* margin: auto; */
        width: 336px;
    }

    .small-project-card img {
        width: 280px;
        height: 250px;
        border-radius: 8px;
    }


    .portfolio-item {
        width: 290px;
        height: 290px;
    }


    .portfolio-item img {
        width: 290px;
        height: 290px;
        /* margin: 10px; */
        /* padding: 10px; */
    }

    .portfolio-btn .btn {
        padding: 4px 12px;
        color: #c2c7e5;
    }

    /* Testimonial */
    .testi-wrapper {
        padding: 0px;
    }

    .circle-new img {
        padding: 40px;
    }

    .testimonial-left {
        margin: auto;
        padding: 0px;
    }

    .testimonial-para {
        padding-right: 50px;
        font-size: 15px;
        letter-spacing: 1px;
    }
.testimonial-desg{
    font-size: 15px;
    padding-bottom: 10px;
}
    .responsive .slick-next {
        position: absolute;
        top: 420px;
        right: 31%;
        left: 50%;
    }

    .responsive .slick-prev {
        position: absolute;
        top: 420px;
        right: 45%;
        left: 35%;
        z-index: 88;
    }

    .responsive .slick-prev {
        padding: 7px 17px;
    }

    .responsive .slick-next {
        padding: 7px 17px;
    }

    /* contact */
    .counter-right {
        margin: 5px;
        height: 138px;
        width: 130px;

    }

    .counter-left {
        margin: 5px;
        height: 138px;
        width: 130px;

    }

    .number {
        padding-top: 4px;
        text-align: center;
        font-size: 50px;
        color: #64ffda;
    }

    .contact-left {
        /* display: flex; */
        flex: 50%;
        padding-left: 40px;
        /* justify-content: center; */
    }

    .counter-wrapper {
        padding-bottom: 30px;
    }

    .form-control {
        width: 100%;
    }

    .form-control-textarea {
        width: 100%;
    }

    .contact-para {
        padding: 20px 40px 20px 0;
        font-size: 16px;
    }

    .footer-end {
        text-align: center;
    }

    .footer-left {
        /* flex: 1; */
        padding-left: 0px;
    }

}

@media screen and (max-width:280px) {
    body {
        overflow-x: hidden;
    }

    .numbered-heading {

        font-size: 20px;
    }

    #projects-section .content-home h2 {
        padding-left: 18px;
    }

    /* Home */
    .content-wrapper {
        /* padding-top: 50px; */
        padding-left: 0px;
    }

    #projects-section {
        overflow-x: hidden;
    }

    .content-home {
        padding: 30px 20px 40px 30px;

    }

    .small-title {
        margin: 0px 0px 30px 4px;
        color: #64ffda;
        background-color: transparent;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 400;
    }

    .home-heading {
        color: #c2c7e5;
        margin-top: 15px;
        font-size: 20px;
        line-height: 1;

    }

    .home-heading span {
        color: #c2c7e5;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
        transition: all .25s ease-in-out;
        margin-top: 50px;
        opacity: .5;
        font-size: 32px;
        font-weight: 800;
    }

    .home-para {
        color: #c2c7e5;
        margin-top: 2.5rem;
        font-size: 20px;
        max-width: 500px;
        line-height: 20px;
    }

    .social-links {
        display: none;
    }

    .social-links-flex {
        padding-top: 30px;
        display: flex;
    }

    .flex-item-left p {
        padding-bottom: 20px;
        /* text-align: justify; */
        letter-spacing: 1.1px;
    }

    .flex-item-left {
        padding: 10px 0px 10px 0px;
        flex: 50%;
        font-size: 14px;
        text-align: left;
        color: #c2c7e5;
    }

    .flex-container {
        display: block;
    }

    .uu li {
        padding-top: 18px;
        font-weight: 400;
        color: #c2c7e5;
        font-size: 16px;
    }

    h4.bg-heading {
        border: solid 1px #70e7c6;
        padding: 8px 20px;
        font-size: 18px;
        font-weight: bold;
        display: inline-block;
        border-radius: 5px;
        color: #c2c7e5;
    }

    .about-img {
        width: 230px;
        height: 230px;
        border-radius: 8px;
        /* transform: translate(-73px, 14px); */
        padding-left: 70px;
    }

    .about-img img {
        width: 230px;
        height: 230px;
        border-radius: 8px;
        /* position: relative; */
        mix-blend-mode: multiply;
        /* filter: grayscale(30%); */
    }

    /* projects */
    .project {
        display: none;
    }

    .project2 {
        display: none;
    }

    .project-flex-container {
        display: block;
    }

    .small-project-card img {
        width: 370px;
        height: 260px;
    }

    .mobile-projects {
        display: block;
    }

    /* Design */
    .portfolio-btn {
        padding-bottom: 50px;
        margin: 0;
    }

    #portfolio-wrapper {
        width: unset;
    }

    #isotope-filters button {
        font-size: 12px;
    }

    #isotope-filters {
        margin: 0;
        /* padding-left: 15px; */
    }

    .project-flex-item {
        /* padding-left: 31px; */
        /* width: 380px; */
        /* margin: auto; */
        width: 280px;
        padding-left: 18px;
    }

    .small-project-card img {
        width: 240px;
        height: 200px;
    }

    .portfolio-item {
        width: 230px;
        height: 290px;
    }


    .portfolio-item img {
        width: 230px;
        height: 290px;
        /* margin: 10px; */
        /* padding: 10px; */
    }

    .portfolio-btn .btn {
        padding: 4px 8px;
        color: #c2c7e5;
    }

    /* Testimonial */
    .testi-wrapper {
        padding: 0px;
    }

    .circle-new img {
        padding: 40px;
    }

    .testimonial-left {
        margin: auto;
        padding: 0px;
    }

    .testimonial-para {
        padding-right: 7px;
    }

    .testi-wrapper {
        padding-bottom: 25px;
    }

    .responsive .slick-next {
        position: absolute;
        top: 365px;
        /* right: 50%; */
        left: 24%;
    }

    .responsive .slick-prev {
        position: absolute;
        top: 365px;
        /* right: 49%; */
        left: 0%;
        z-index: 88;
    }

    .responsive .slick-prev {
        padding: 7px 17px;
    }

    .responsive .slick-next {
        padding: 7px 17px;
    }

    /* contact */
    .counter-right {
        margin: 5px;
        height: 138px;
        width: 100px;

    }

    .counter-left {
        margin: 5px;
        height: 138px;
        width: 100px;

    }

    .number {
        padding-top: 4px;
        text-align: center;
        font-size: 50px;
        color: #64ffda;
    }

    .contact-left {
        /* display: flex; */
        flex: 50%;
        padding-left: 0px;
        /* justify-content: center; */
    }

    .counter-wrapper {
        padding-bottom: 30px;
    }

    .form-control {
        width: 100%;
    }

    .form-control-textarea {
        width: 100%;
    }

    .contact-para {
        padding: 20px 8px 20px 0px;
        font-size: 16px;
    }

    .footer-end {
        text-align: center;
    }

    .footer-left {
        /* flex: 1; */
        padding-left: 0px;
    }

}