/* .navigation {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  
  z-index: 200;
} */
.s-dash {
  display: block;
  padding: 1px 17px;
  background: #fefefe;
  height: 1px;
  margin: 10.1px;
  border-radius: 10px;
}

.ham-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9999999;
}

.ham-btn span {
  /* position: absolute; */
  display: inline-block;
  padding: 1px 17px;
  /* left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 2px; */
  background: #f5f5f5;
}

.links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.links a {
  position: relative;
  display: inline-block;
  margin: 20px 0px;
  font-size: 25px;
  font-weight: 800;
  text-decoration: none;
  color: #f5f5f5;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.links a:after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -5px;
  height: 2px;
  width: 0%;
  background: #64ffda;
  transition: all 300ms ease-in-out;

}

.links a:hover:after {
  width: 100%;
}

#nav-wrapper {
  background-color: rgba(21, 40, 78, 0.97);
  /* height: 100vh; */
  /* background-color: tomato; */
  visibility: hidden;
  height: 0;
}
.nav-icon {
  display: inline-block;
  background: #299179;
  border-radius: 50%;
  padding: 15px 12px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 99999;
}
