/* img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
} */
.project-container {
  max-width: 1000px;
  margin: 50px auto;
}
.project-details{
  z-index: 2;
}
.project {
  margin: 30px;
  display: flex;
  align-items: center;
}

.project-label {
  color: #64ffda;
  font-family: monospace;
}
.project-title {
  font-size: 2rem;
  margin: 10px 0 30px;
  color: #eee;
}
.project-details {
  position: relative;
  font-size: 15px;
  line-height: 1.5;
  color: #aaa;
  width: 471px;
}
.project-details p {
  background-color: #252525;
  padding: 20px 25px;
}

.tag-list ul{
  display: flex;
  margin-top: 20px;
  width: 200px;
}
.tag-list ul li{
  margin-right: 20px;
  color: #aaa;
  font-family: monospace;
}
.project-img img{
  width: 400px;
  height: 400px;
}
.project-img {
  /* width: 400px;
  height: 400px; */
  position: relative;
  z-index: 1;
  background-color: #64ffda;
  background: linear-gradient(0.4turn, #64ffda, #64ff8d);
  border-radius: 2px;
  transform: translate(-83px, 14px);
}

.project-img:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2px;
}
.project-img img {
  border-radius: 2px;
  /* position: relative; */
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(1);
  /* filter: sepia(100%); */
}


/* ************Project 2  ***************/
.project-content2{
  padding-left: 60px;
}
.project-img2 img{
  width: 400px;
  height: 400px;
}
.project-img2 {
  position: relative;
  /* z-index: 1; */
  background-color: #64ffda;
  background: linear-gradient(0.4turn, #64ffda, #64ff8d);
  border-radius: 2px;
  transform: translate(-83px, 14px);
}
.project-img2:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2px;
}
.project-img2 img {
  border-radius: 2px;
  /* position: relative; */
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(1);
}
.project2{
  flex: 50%;
}
.project2-details{

}