/* ************ Home ************** */
#home-banner {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.home-wrapper {
    padding: 150px 0 150px 100px;
    flex: 1;
}

.name-heading {
    padding: 20px 0;
    font-family: "Poppins", sans-serif;
    font-size: 70px;
}

.me {
    background: #00C4CE;
    padding: 18px;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
    position: relative;
}

.me:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -15px;
    width: 0;
    height: 0;
    border-left: 26px solid transparent;
    border-right: 0px solid transparent;
    border-top: 24px solid #00C4CE;
}

.right-image {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0px;
    transform: scale(1.4);
    background: url('../images/Home/Artboard\ 1\ copy@4x.png') no-repeat;
    width: 760px;
    height: 657px;
    background-size: contain;
}

/* ****Type effect** */
.type-effect {
    font-size: 40px;
}

.type-effect span {
    font-size: 40px;
    color: #00E5FD;
}

/* ******************* Home End ************ */
.social-icons{
    margin-top: 20px;
    width: 220px;
    height: 50px;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
   border-radius: 50px;
   background: #00E5FD;
  
}
.brand-wrap {
  padding-top: 15px;
    
}
.sociali{
    padding: 20px 15px 0 10px;
    font-size: 20px;
}
.sociali .twitter{
    color: #f082ac;
}



.GEAjZ {
    /* position: relative; */
    animation: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 normal forwards running bpzEKm;
}
.doHXI {
    padding: 30px 35px;
    border-radius: 10px;
    background-color: rgb(248, 248, 248);
    box-shadow: rgb(0 0 0 / 5%) 0px 5px 10px;
}
.doHXI pre {
    font-size: 0.8rem;
    font-family: Montserrat, sans-serif;
    color: rgb(109, 131, 242);
    line-height: 30px;
}
.cwyhDg {
    /* position: absolute; */
    /* bottom: -40px;
    left: -90px; */
    
    justify-content: space-around;
    background-color: rgb(248, 248, 248);
    box-shadow: rgb(0 0 0 / 5%) 0px 5px 10px;
    padding: 8px;
    border-radius: 5px;

}

.card-wrapper{
    flex: 1;
    width: 300px;
    z-index: 55;
}

.bg-new-3 {
	background: linear-gradient(rgba(255,255,255,.95), rgba(255,255,255,.95)), url(img/back-4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
h4.bg-heading {
	background-color: #8bd3bf;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;
	display: inline-block;
	border-radius: 20px;
}
h4.bg-heading2 {
	background-color: #ffe131;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;
	display: inline-block;
	border-radius: 20px;
}
.bg-2 {
    background: url(img/banner-image-seventeen.jpg);
    background-size: cover;
    background-position: center;
}
.bg-new {
	transition: all 0.3s ease;
	cursor: pointer;
	background-color: #a3edd8;
}
.bg-new:hover {
	transform: scale(1.04);
}
.bg-new-2 {
	transition: all 0.3s ease;
	cursor: pointer;
	background-color: #f4df64;
}
.bg-new-2:hover {
	transform: scale(1.04);
}
.uu li {
	padding-top: 12px;
	font-weight: 600;
	color: #162746;
	font-size: 15px;
}