
.testimonial-small-text{
    font-size: 25px;
    color:#64ffda;
    padding: 20px 0;
    font-weight: lighter;
}
.testimonial-para{
    padding-right: 140px;
    font-size:18px;
    color: #c2c7e5;
    font-weight: lighter;
}
.client-name{
    font-weight: lighter;
    padding: 15px 0;
    color: #64ffda;
    font-size: 20px;
}
/* .testi-footer h6::after{
    content: "";
    display: block;
    position: relative;
    top: 1px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #64ffda;
} */
.testi-wrapper{
    padding: 0px 0 50px 137px;
}
.testimonial-desg{
    font-weight: lighter;
    font-size:14px;
    color: #c2c7e5; 
}
.testimonial-left{
    /* border-right: solid 3px #64ffda; */
    padding: 00px 156px 0 0px;
}
.img-fluid{
    width: 250px;
    height: 250px;
    /* transform: translate(18px, -32px); */
}
.testimonial-right{
    padding-left: 50px;
    flex: 30%;
}
.circle-new{
    /* transform: translate(185px); */
}
.circle-new img{
    border-radius: 50%;
    padding: 60px;
    background-color: #05142b;
    border: solid 1px #64ffda;
    
}
.fa-star{
    padding:10px 10px 0px 0;
    color: #64ffda;
}
.slick-prev:before, .slick-next:before{
    display: none;
}

.responsive .slick-next,
.responsive .slick-prev
 {
    all: unset;
    cursor: pointer;
    font-size: 24px;
    border: 1px solid #64ffda;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    color: #64ffda;
}
.responsive .slick-next{
    position: absolute;
    top: 190px;
    right: 30%;
}
.responsive .slick-prev{
    position: absolute;
    top: 190px;
    right: 35%;
    z-index: 88;
}
